.list-item {
  margin-bottom: 12px;
  margin-right: 12px;
}

.list-item-trending {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-right: 12px;
}

.thumbnail-image {
  width: 100%;
  border-radius: 6px;
}

.trending-thumbnail-image {
  width: 100%;

  border-radius: 6px;
  margin-right: 12px;
}

.profile-channel-image {
  width: 32px;
  margin-right: 14px;
  align-self: flex-start;
}

.profile-channel-image-trending {
  width: 32px;
  margin-right: 14px;
  align-self: flex-start;
}

.title {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 600;
  margin: 0px 0px 0px 0px;
}

.title-light {
  color: #231f20;
}

.title-dark {
  color: #cbd5e1;
}

.name {
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 400;
  margin: 8px 1px 8px 0px;
  line-height: 1.5;
}

.name-light {
  color: #313131;
}

.name-dark {
  color: #ffffff;
}

@media all and (min-width: 768px) {
  .trending-thumbnail-image {
    width: 60%;
    height: 140px;
  }

  .list-item-trending {
    flex-direction: row;
  }
  .profile-channel-image {
    width: 43px;
  }

  .profile-channel-image-trending {
    display: none;
  }

  .name {
    font-size: 12px;
  }

  .title {
    font-size: 15px;
    font-weight: 500;
  }
}

.details-container {
  margin-top: 12px;
  display: flex;
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.views-con {
  display: flex;
  align-items: center;
}

.nav-link-home {
  text-decoration: none;
  width: 100%;
  display: flex;
}

@media all and (min-width: 768px) {
  .list-item {
    width: 47%;
  }
}

@media all and (min-width: 992px) {
  .list-item {
    width: 31%;
  }
}

.dot-icon-light {
  color: #313131;
  font-size: 15px;
}

.dot-icon-dark {
  color: #ffffff;
  font-size: 15px;
}
